<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}cancer{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{{ STATIC_URL }}css/project.css" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template, 
        then move to project.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">cancer</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <h1>{% block page_title %}Example Base Template{% endblock page_title %}</h1>

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->

    <!-- cancer stuff -->
    <button id="get">Get Server</button>
    <button id="run">Run Worker</button>
    <button id="second">Second</button>
    <button id="third">third</button>

    <div id="graph" style="width:540px;height:360px;margin-top:50px;margin-left:50px;"></div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{{ STATIC_URL }}js/project.js"></script>
    <script src="{{ STATIC_URL }}js/webSequencer.js"></script>
    
    <script src="{{ STATIC_URL }}js/jquery.flot.js"></script>
    
    
    
    
    {% block extra_js %}{% endblock extra_js %}
    
    <script type="text/javascript">
        // js times
        var baseline = {
            label: "baseline",
            data: [ [100, 0.026], [500, 0.742], [1000, 3.081], [10000, 342.317] ],
            lines: {show: true},
            points: {show: true}
            }
        var datajam ={
        		label: "djam",
                data: [ [100, 0.033], [500, 0.483], [1000, 2.035], [10000, 219.418] ],
                lines: {show: true},
                points: {show: true}
                }
        var datajb = {
                label: "djellybeans",
                data: [ [100, 0.047], [500, 0.793], [1000, 3.12], [10000, 334.992] ],
                lines: {show: true},
                points: {show: true}
                }
        // python times
        var basep = {
        		label: "baseline",
                data: [ [100, 0.5439], [500, 17.667], [1000, 74.1956], [2000, 299.1588] ],
                lines: {show: true},
                points: {show: true}
                }
        var datajbp = {
                label: "djellybeans (python)",
                data: [ [100, 0.5146], [500, 14.7578], [1000, 53.5189], [2000, 233.3994] ],
                lines: {show: true},
                points: {show: true}
                }
        // python accuracy
        /*var basep = {
                label: "baseline",
                data: [ [100, .999], [500, .999], [1000, .999], [2000, .999] ],
                lines: {show: true},
                points: {show: true}
                }
        var datajbp = {
                label: "djellybeans",
                data: [ [100, 230/235*.999], [500, 487/487*.999], [1000, 937/937*.999], [2000, 1037/1051*.999] ],
                lines: {show: true},
                points: {show: true}
                }*/
        // accuracy
        var baseline = {
            label: "baseline",
            data: [ [100, .999], [500, .999], [1000, .999], [10000, .999] ],
            lines: {show: true},
            points: {show: true}
            }
        var datajam ={
                label: "djam",
                data: [ [100, 320/328*.999], [500, 430/442*.999], [1000, 938/940*.999], [10000, 1291/1296*.999] ],
                lines: {show: true},
                points: {show: true}
                }
        var datajb = {
                label: "djellybeans",
                data: [ [100, .999], [500, 440/442*.999], [1000, .999], [10000, 1293/1296*.999] ],
                lines: {show: true},
                points: {show: true}
                }
        var baseline = {
            label: "baseline",
            data: [ [100, 0.870071685], [500, 0.937337168], [1000, 0.827586207], [10000, 0.936461388] ],
            lines: {show: true},
            points: {show: true}
            }
        var datajam ={
                label: "djam",
                data: [ [100, 0.905913978], [500, 0.874674336], [1000, 0.853146853], [10000, 0.910801564] ],
                lines: {show: true},
                points: {show: true}
                }
        var datajb = {
                label: "djellybeans",
                data: [ [100, 0.870071685], [500, 0.864557604], [1000, 0.827586207], [10000, 0.931329423] ],
                lines: {show: true},
                points: {show: true}
                }
        
        var plot = $.plot(
                $("#graph"), 
                [ 
                   baseline,
                   datajam,
                   datajb,

                   //basep,
                   //datajbp, 
                ], 
                { 
                }
        );
        plot.draw();
        
    </script>
    
    <script type="text/javascript">
    var seq;
    var seq2;
    var dnaPackage;

    var worker = new Worker('/static/js/seqWorker.js');


    function sendDNA(dnaPackage){
        worker.postMessage({"cmd": "processDNA", "dnaPackage": dnaPackage});
    }

    function runWorker(){
        worker.postMessage({"cmd": "run"});
        console.log("running worker");
    }

    function getFreq(){
        worker.postMessage({"cmd": "sendFreq"});
    }

    
    worker.addEventListener("message", function(e){
        console.log(e.data);
    }, false);


    function third(){
    	var start = new Date();
        seq2.getAlgo().matchTargetList(dnaPackage["readList"]);
        var time = (new Date() -start)/1000;
        var algo = seq2.getAlgo();
        var results = {
            "_frequency": algo.getFrequency(),
            "duration": time,
            
        }
        console.log(results);
    }

    function second(){
    	var start = new Date();
        seq.getAlgo().matchTargetList(dnaPackage["readList"]);
        var time = (new Date() -start)/1000;
    	var algo = seq.getAlgo();
        var results = {
            "_frequency": algo.getFrequency(),
            "_skippedIndexes": algo.getSkippedIndexes(),
            "_dnaSegments": algo.getDNASegments(),
            "duration": time,
            
        }
        //datajam.data.push([2,5]);
        //plot.setData([datajam, datajb]);
        //plot.draw();
        console.log(results);
    }
    
    $(document).ready(function(){
        dnaPackage = null;
        seq = null;
        seq2 = null
        $("#get").click(function(){
            $.getJSON("/dnaBank/getSingleDNA", function(data) {
                dnaPackage = data;
                sendDNA(dnaPackage);
                seq = new Sequencer(dnaPackage["dna"], dnaPackage["startIndex"]);
                seq.setAlgo(new jsWAlgo(seq, 0.9, 7));

                seq2 = new Sequencer(dnaPackage["dna"], dnaPackage["startIndex"]);
                seq2.setAlgo(new jsAlgo(seq2, 0.9));
                console.log("received data from server");
                console.log(dnaPackage["donorIndex"]);
                console.log(dnaPackage["cancerIndex"]);
            });
        });
        $("#run").click(function(){
            //alert(dnaPackage);
            
            runWorker();
            
        });
        $("#second").click(function(){
            second();
        });
        $("#third").click(function(){
            third();
        });
        
    });


    
    </script> 
    
    </body>
</html>











